---
import { SITE } from "@/config";
import HeaderLink from "./HeaderLink.astro";
import Search from "./Search.astro";
---

<div style="flex-grow: 1;" class="text-right md:mr-1 -mr-1">
  <Search />
  <!-- <HeaderLink href={SITE.blogPage} target="_blank">读书</HeaderLink> -->
  <!-- <HeaderLink href={`https://twitter.com/${SITE.twitterId}`} target="_blank">
    旅行
  </HeaderLink> -->
  <!-- <HeaderLink
    href={`https://github.com/${SITE.githubId}`}
    target="_blank"
    class="lg:inline-block hidden"
  >
    健身
  </HeaderLink> -->
  <HeaderLink
    href="https://space.bilibili.com/28605015/dynamic"
    target="_blank"
    class="lg:inline-block hidden"
  >
    街舞
  </HeaderLink>
</div>
